* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 200ms;
  transition: 200ms;
}

html {
  font-size: 14px;
}

body {
  background: white;
  padding: 25px;
  padding-top: 35px;
  font-family: 'Inter', sans-serif;
}

body.dark {
  background-color: #1e202a;
}

body .top-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: #f5f7ff;
  border-radius: 0 0 25px 25px;
  z-index: -10;
}

.greetings {
  margin-bottom: 2rem;
}

.greetings h1 {
  letter-spacing: 0.3px;
  font-size: 1.8rem;
}

.greetings .desc {
  margin-top: 0.5rem;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: #63687e;
}

.switcher-area {
  border-top: 1px solid #1e202a;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switcher-area h2 {
  letter-spacing: 0.3px;
  font-weight: 700;
  color: #63687e;
  font-size: 1rem;
}

.switcher-area__paddle {
  position: relative;
  background-color: #aeb3cb;
  border: none;
  padding: 15px;
  width: 60px;
  border-radius: 55px;
}

.switcher-area__paddle.switcher-area__paddle--dark {
  background: linear-gradient(87deg, #378fe6 25%, #3eda82 75%);
}

.switcher-area__paddle .paddle__switcher {
  background-color: #f5f7ff;
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.switcher-area__paddle .paddle__switcher.dark-active {
  top: 50%;
  left: 55%;
}

.switcher-area__paddle .paddle__switcher.paddle__switcher--dark {
  background-color: #1e202a;
}

.media-watcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media-watcher .media-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 330px;
  background-color: #f0f2fa;
  margin: 10px 0;
  border-radius: 4px;
  border-top: 4px solid red;
}

.media-watcher .media-card.media-card--facebook {
  border-top-color: #198ff5;
}

.media-watcher .media-card.media-card--twitter {
  border-top-color: #1ca0f2;
}

.media-watcher .media-card.media-card--instagram {
  border-top: none;
  background: #f0f2fa;
}

.media-watcher .media-card.media-card--instagram::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px 4px 0 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fdc468), color-stop(75%, #df4996));
  background: linear-gradient(90deg, #fdc468 25%, #df4996 75%);
}

.media-watcher .media-card.media-card--youtube {
  border-top-color: #c4032a;
}

.media-watcher .media-card .media-card__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-watcher .media-card .media-card__title h3 {
  font-size: 12px;
  color: #63687e;
}

.media-watcher .media-card .media-card__title > * {
  margin: 25px 5px;
}

.media-watcher .media-card .media-card__number {
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
}

.media-watcher .media-card .media-card__desc {
  font-size: 12px;
  margin: 10px 0;
  color: #63687e;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.media-watcher .media-card .media-card__daily-change {
  margin: 15px 0 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.media-watcher .media-card .media-card__daily-change svg {
  margin: 0 5px;
}

.media-watcher .media-card .media-card__daily-change.daily-change--up {
  color: #26B58A;
}

.media-watcher .media-card .media-card__daily-change.daily-change--down {
  color: #DC414C;
}
/*# sourceMappingURL=style.css.map */