.greetings-wrapper
    @media(min-width: $desktop)
        display: flex
        justify-content: space-between
        align-items: center
.greetings
    margin-bottom: 1rem
    @media(min-width: $desktop)
        margin-bottom: 5rem
    h1
        letter-spacing: 0.3px
        font-size: 1.8rem
        color: $very_dark_blue_l
        &.h1--dark
            color: $white_d
    .desc
        margin-top: 0.5rem
        letter-spacing: 0.3px
        font-weight: 700
        color: $dark_grayish_blue_l
        &.desc--dark
            color: $desaturated_blue_d
