*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 14px

@import variables.sass
body
    background: $very_pale_blue_l
    padding: 25px
    padding-top: 35px
    font-family: 'Inter', sans-serif
@import greetings.sass
@import switcher-area.sass
